<div class="navigation w-clearfix">
  <div class="navigation-button">
    <div class="nav-open-close"></div>
  </div>
  <div class="lang-menu w-clearfix">
    <div class="lang-current">Lang</div>
    <div class="lang-select" id="language-selector">
      <div class="lang-selection" data-language="en">ENG</div>
      <div class="lang-selection" data-language="zh">中文</div>
      <!-- <div class="lang-selection" data-language="ar">العَرَبِيَّة‎‎</div> -->
      <div class="lang-selection" data-language="ko">한국어‎‎</div>
      <div class="lang-selection" data-language="ja">日本語</div>
      <div class="lang-selection" data-language="pt">POR</div>
      <div class="lang-selection" data-language="ru">RUS</div>
      <!-- <div class="lang-selection" data-language="nl">Nederlands</div> -->
      <!-- <div class="lang-selection" data-language="it">Italiano</div> -->
      <!-- <div class="lang-selection" data-language="fi">Suomi</div> -->
      <div class="lang-selection" data-language="es">SPA</div>
      <!-- <div class="lang-selection" data-language="el">Ελληνικά</div> -->
      <div class="lang-selection" data-language="de">GER</div>
      <!-- <div class="lang-selection" data-language="fr">Français</div> -->
    </div>
  </div>
  <div class="link-section">
    <div class="nav-links-wrap w-clearfix">
      <div class="navigation-group-title" translate>What is Decred</div><a href="#mission" class="navigation-link" translate>Mission</a><a href="#platform" class="navigation-link" translate>Platform</a><a href="#guide" class="navigation-link" translate>Get Started</a>
      <div class="navigation-group-title whitespace" translate>Interacting with Decred</div><a href="downloads/" class="navigation-link" translate>Downloads</a><a href="https://voting.decred.org/" class="navigation-link" translate>Voting System</a><a href="stakepools/" class="navigation-link" translate>Stakepools</a><a href="https://stats.decred.org/" class="navigation-link" translate>Network Stats</a><a href="https://docs.decred.org/" class="navigation-link" translate>Documentation</a><a href="community/" class="navigation-link" translate>Community</a><a href="contributors/" class="navigation-link" translate>Contributors</a>
      <div class="disabled navigation-link" translate>News</div>
      <div class="disabled-link-tag" translate>coming soon</div>
    </div>
    <div class="nav-social w-clearfix">
      <a href="https://slack.decred.org/" class="nav-slack nav-social-link w-inline-block"></a>
      <a target="_blank" href="https://webchat.freenode.net/?channels=decred&amp;uio=d4" class="nav-irc nav-social-link w-inline-block"></a>
      <a target="_blank" href="https://twitter.com/decredproject" class="nav-social-link nav-twitter w-inline-block"></a>
      <a target="_blank" href="https://forum.decred.org/" class="nav-forum nav-social-link w-inline-block"></a>
      <a target="_blank" href="https://github.com/decred" class="nav-github nav-social-link w-inline-block"></a>
      <a href="https://www.reddit.com/r/decred/" target="_blank" class="nav-reddit nav-social-link w-inline-block"></a>
      <a href="https://www.youtube.com/channel/UCJ2bYDaPYHpSmJPh_M5dNSg" target="_blank" class="nav-social-link nav-youtube w-inline-block"></a>
      <a href="https://medium.com/decred" target="_blank" class="nav-social-link nav-medium w-inline-block"></a>
      <br>
      <div class="nav-social-localized" translate>
        <!-- localized social media links -->
      </div>
      <a href="https://github.com/decred" target="_blank" class="nav-dcr-dev-link">Decred Developers 2017</a></div>
  </div>
</div>
