
<div class="preload-on-background subpage"></div>
<div class="fronta subpage">
  <div id="pt4" class="ptsjs nojs-downloads"></div>
  <div class="_960 subpage-header"><a href="https://decred.org" class="subpage-logo w-inline-block"></a></div>
  <div class="_960 subpage-header">
    <div class="subpage-title" translate>Downloads</div>
  </div>
</div>
