{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}

<main id="site-main" class="site-main outer" role="main">

  <div class="preload-on-background subpage"></div>
  <div class="fronta subpage">
    <div id="pt4" class="ptsjs nojs-downloads"></div>
    <div class="_960 subpage-header"><a href="https://decred.org" class="subpage-logo w-inline-block"></a></div>
    <div class="_960 subpage-header">
      <div class="subpage-title" translate>{{title}}</div>
    </div>
  </div>
  <div class="below subpage">
    <div class="full-width">
      <div class="_960">
        <div class="subpage-content-section">
          ID: {{id}}
          {{content}}
        </div>
      </div>
    </div>
  </div>
</main>
